/* ************************ */
/* SOME GENERAL DEFINITIONS */
/* ************************ */

body {
  background-color: #211F28;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

/* ****************** */
/* HEADER DEFINITIONS */
/* ****************** */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
  background-color: #211F28;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header a {
  color: seashell;
}

header a:hover {
  color: #211F28;
}

.links {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #211F28;
  border-radius: 5px;
}

.links:hover {
  background-color: seashell;
  cursor: pointer;
}


/* ******************* */
/* CONTENT DEFINITIONS */
/* ******************* */

main {
  position: relative;
  top: 70px;
  width: 1200px;
  margin: 0 auto;
}

/* ******************* */
/* The Mission Section */
/* ******************* */

#themission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../images/img-mission-background.jpg");
  width: 100%;
  height: 700px;

}

.content {
  background-color: #211F28;
  width: 100%;
  text-align: center;
}

/* **************************** */
/* The Tea of the Month Section */
/* **************************** */

#teamonth {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.smallbox {
  padding: 10px;
}

.smallbox img {
  width: 300px;
  height: 200px;
  display: block;
}

.smallbox span {
  display: block;
  padding: 10px;
  font-weight: bold;
}

/* ******************** */
/* The Location Section */
/* ******************** */

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  width: 100%;
}

#locations .flex-container {
  width: 1100px;
  margin: 0 auto;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #211F28;
  padding: 10px;
  margin: 5px 20px;
  flex-basis: 280px;
}

/* ******************* */
/* The contact Section */
/* ******************* */

#contact {
  height: 200px;
  margin-bottom: 20px;
}

/* ****************** */
/* The Footer Section */
/* ****************** */

footer {
  padding-left: 20px;
  text-align: left;
}
